In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer

In [5]:
loan_data = pd.read_csv('../loan_data.csv')
df = loan_data.drop(['Loan_ID'], axis=1)

In [6]:
df.isnull().sum()

Gender                5
Married               0
Dependents            8
Education             0
Self_Employed        21
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     11
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df['Married'] = df['Married'].map({'No': 0, 'Yes': 1})
df['Gender'] = df['Gender'].map({'Female': 0, 'Male': 1})
df['Education'] = df['Education'].map({'Not Graduate': 0, 'Graduate': 1})
df['Self_Employed'] = df['Self_Employed'].map({'No': 0, 'Yes': 1})
df['Property_Area'] = df['Property_Area'].map({'Rural': 0, 'Semiurban': 1, 'Urban': 2})
df['Loan_Status'] = df['Loan_Status'].map({'N': 0, 'Y': 1})
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1.0,1,1,1,0.0,4583,1508.0,128.0,360.0,1.0,0,0
1,1.0,1,0,1,1.0,3000,0.0,66.0,360.0,1.0,2,1
2,1.0,1,0,0,0.0,2583,2358.0,120.0,360.0,1.0,2,1
3,1.0,0,0,1,0.0,6000,0.0,141.0,360.0,1.0,2,1
4,1.0,1,0,0,0.0,2333,1516.0,95.0,360.0,1.0,2,1