We noticed that the database consists of objects and some float/int values. We will need to convert these values so that we can run a machine learning algorithms on the data.

In [ ]:
loan_data['Married'] = loan_data['Married'].map({'No': 0, 'Yes': 1})
loan_data['Gender'] = loan_data['Gender'].map({'Female': 0, 'Male': 1})
loan_data['Education'] = loan_data['Education'].map({'Not Graduate': 0, 'Graduate': 1})
loan_data['Self_Employed'] = loan_data['Self_Employed'].map({'No': 0, 'Yes': 1})
loan_data['Property_Area'] = loan_data['Property_Area'].map({'Rural': 0, 'Semiurban': 1, 'Urban': 2})
loan_data['Loan_Status'] = loan_data['Loan_Status'].map({'N': 0, 'Y': 1})
loan_data['Dependents'] = loan_data['Dependents'].map({'0': 0, '1' : 1, '2': 1, '3+': 2})
loan_data.info()
loan_data.head()